.context-menu {
  grid-area: menu;
  width: 12.5%;
  text-align: left;
  top: 2rem;
  position: fixed;
  overflow-wrap: break-word;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.vertical-line-left {
  border-left: 3px solid lightgray;
  height: 100vh;
  position: fixed;
  top: 2rem;
  left: 12.5%;
  height: 100%;
}

.page-content {
  grid-area: main;
  text-align: left;
  width: 75%;
  overflow-wrap: break-word;
  position: fixed;
  left: 12.5%;
  padding-left: 10px;
  font-size: 16px;
  padding-top: 6px;
  padding-right: 5px;
}
.paragraph-content {
  display: block;
  height: 2rem;
  margin-top: -2rem;
  visibility: hidden;
}

.vertical-line-right {
  border-left: 3px solid lightgray;
  height: 100vh;
  position: fixed;
  top: 2rem;
  left: 87.5%;
  height: 100%;
}

.aside-menu {
  grid-area: right;
  position: fixed;
  left: 87.5vw;
  top: 2rem;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0px 10px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .layout {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    grid-template-areas:
      "header header header header header header header header"
      "menu menu main main main main main main"
      "footer footer footer footer footer footer footer footer";
    padding: 10px;
  }
  .page-content {
    left: 25%;
  }
  .aside-menu {
    display: none;
  }
  .context-menu {
    width: 25%;
  }
  .vertical-line-left {
    left: 25%;
  }

  .vertical-line-right {
    display: none;
  }
}

@media screen and (max-width: 328px) {
  .layout {
    font-family: sans-serif;
    text-align: center;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    padding: 10px;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    left: 0%;
    width: 100%;
  }

  .aside-menu {
    display: none;
  }
  .context-menu {
    display: none;
  }
  .vertical-line-left {
    display: none;
  }
}
